<!DOCTYPE html>
<html>
    <h1> <%= @sub.title %>
    <%= link_to "edit", edit_sub_url %>
  </h1>
    <p>
      <%= @sub.description %>
    </p>
    <h2>Related Posts:</h2>
    <ol> <% @sub.posts.each do |post| %>
      <li><%= post.title%><br>
          <%= post.content %><br>
          Submitted By: <%= post.author.email%> <br>
          Visit Post: <%= link_to "GO!", post_url(post) %>
          ||
            <% if @current_user ==  post.author  %>
              <%= link_to "Edit Post", edit_post_url(post), method: :patch%>
            <% end %>
          <% end %>
      </li>
    </ol>
</html>
