<!DOCTYPE html>
<html>
  <body>
    <h2> <%= @post.title %>  </h2>
    <p>
      <%= @post.content %>
    </p>

    <%= link_to "Submit a Comment", new_post_comment_url(@post) %>
    <h3>Top Comments: </h3>
    <ul>
    <% @post.top_comments.each do |tc|%>
      <li>  <%= tc.content %> <br>
        author: <%= tc.author.email %> <br>
        <%= link_to "Details", comment_url(tc) %>
        <br>
        <h4>Sub-Comments:</h4>
        <ul> <% tc.child_comments.each do |cc| %>
          <li> <%= cc.content%> <br>
              author: <%= cc.author.email %>
          </li>
          <% end %>
          <br>
        </ul>

      </li>
    <% end %>
    </ul>
  </body>
</html>
